.container {
  width: (100% - 300px);
  padding: 3rem;
  margin-left: 300px;
  margin-right: 10px;
  height: 100vh;
}
.products {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2rem;
}
.shoe-card {
  width: 20rem;
  height: 30rem;
  border-style: solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.shoe-card:hover {
  cursor: pointer;
  color: rgb(231, 36, 36);
}
.shoe-card img {
  width: 100%;
}
.card-desc {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.card-desc h1 {
  font-size: 22px;
}
.card-desc h4 {
  font-weight: lighter;
}
.card-price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}
.prod-rating {
  position: absolute;
  background-color: green;
  width: 3rem;
  height: 1.5rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  top: 0;
  right: 0;
}
.card-price h4 {
  text-decoration: line-through;
}
.card-btn {
  display: flex;
  justify-content: space-between;
}
.btn {
  width: 100%;
  margin: 1rem;
  padding: 0.7rem;
  border: none;
  background-color: var(--header-backgroundColor);
  color: var(--header-Color);
  cursor: pointer;
}
.btn:hover {
  opacity: 0.6;
}

/*****************/
/* ::-webkit-scrollbar {
    width: 3px;
  }
  ::-webkit-scrollbar-track {
    background-color: rgb(153, 153, 153);
  }
  ::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 2rem;
  }
  * {
    scrollbar-width: bold;
    scrollbar-color: rgb(153, 153, 153) black;
  } */
@media screen and (max-width: 780px) {
  .container {
    width: 100%;
    margin-left: 1rem;
  }
  .shoe-card {
    width: 20rem;
    height: 23rem;
  }
}
