.cart {
  margin-top: 5rem;
}
.margin-4-rem {
  margin-bottom: 4rem;
}
.final-checkout {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  width: 70rem;
  gap: 3rem;
  margin-bottom: 10rem;
}
.price-details {
  width: 25rem;
  height: 25rem;
  box-shadow: var(--price-card-shadow);
  margin-right: auto;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.price {
  display: flex;
  justify-content: space-between;
}

.price-details .price-txt {
  font-size: 20px;
}

.coupun {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 1rem;
}

.coupun .coupun-txt {
  font-size: 16px;
}

.coupun input {
  height: 2rem;
}
/*******************************/
.cart-products {
  display: flex;
  flex-direction: column;
  width: 50rem;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.checkout-list {
  display: flex;
  justify-content: space-between;
  width: 70%;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 1px 20px 0;
}

.product-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  padding-right: 1rem;
}

.product-img img {
  cursor: pointer;
  width: 100%;
}

.product-img ul {
  list-style: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.product-img ul img {
  width: 70%;
}

.product-info {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-around;
  width: 60%;
  padding: 1rem;
}

.product-info p {
  font-size: 20px;
}

.product-count {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.product-count .count {
  font-weight: bold;
}

.product-count button {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  border: none;
  font-size: large;
  font-weight: bold;
  background-color: var(--header-backgroundColor);
  color: var(--header-Color);
  cursor: pointer;
}

.product-count button:hover {
  opacity: 0.6;
}

.checkout-btn {
  display: flex;
  gap: 1rem;
}

.cart-btn {
  width: 100%;
  padding: 0.7rem;
  border: none;
  background-color: var(--header-backgroundColor);
  color: var(--header-Color);
  cursor: pointer;
}

.cart-btn:hover {
  opacity: 0.6;
}
