:root {
  --header-backgroundColor: rgb(0, 0, 0);
  --header-Color: rgb(253, 253, 253);
}

.home-img-container {
  position: relative;
  margin-bottom: 1rem;
}
.bg-img-container {
  background-image: url("../../Asset/Images/High\ OG\ Electro\ Orange\ \(GS\).webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  height: 35rem;
  animation: slidein 20s infinite linear;
}
@keyframes slidein {
  0% {
    background-image: url("../../Asset/Images/High\ OG\ Electro\ Orange\ \(GS\).webp");
  }
  25% {
    background-image: url("../../Asset/Images/HIGH\ SWITCH\ PEACH.webp");
  }
  50% {
    background-image: url("../../Asset/Images/High\ Zoom\ Air\ CMFT\ PSG\ Paris\ Saint-Germain.webp");
  }
  75% {
    background-image: url("../../Asset/Images/HIGH\ ZOOM\ AIR\ CMFT\ STADIUM\ GREEN.webp");
  }
}
.home-page-text {
  position: absolute;
  bottom: 45%;
  left: 60%;
  color: white;
  z-index: 1;
}
.main-text {
  line-height: 4rem;
}
.main-text button {
  background-color: var(--header-backgroundColor);
  padding: 1rem;
  margin-top: 3rem;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.main-text button:hover {
  cursor: pointer;
  opacity: 0.8;
}
.main-text h4 {
  font-size: 2rem;
}
.main-text h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.home-img-container .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  transition: 0.5s ease;
}
.home-desc-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

.featured-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.featured-products p {
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 1rem;
}
.featured-brands {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 5rem;
  cursor: pointer;
}
.brand {
  position: relative;
  width: 20rem;
  height: 20rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.brand img {
  width: 100%;
}
.brand .overlay-msg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40%;
  font-size: 3rem;
  font-weight: 800;
  color: var(--header-Color);
  background-color: rgba(24, 23, 23, 0.5);
}
.brand:hover {
  transform: scaleY(1.1);
  transition: 0.5s ease;
}
.brand-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  background: rgba(24, 23, 23, 0.5);
  width: 100%;
  transition: 0.5s ease;
  display: none;
  cursor: pointer;
  border-radius: 1rem;
}
.featured-brands .brand:hover .brand-overlay {
  display: block;
}
.new-arrival-header {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
}
.new-arrival {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3rem;
  gap: 5rem;
}
.new-product {
  width: 40rem;
  height: 20rem;
  /* background-color: red; */
  box-shadow: 2px 2px 10px 2px rgb(0 0 0 / 20%);
  display: flex;
  gap: 1rem;
}
.new-product:hover {
  transform: scale(1.1);
  transition: 0.5s ease;
}
.new-product-dec {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1rem;
}
.new-product-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  position: relative;
}
.new-product-img p {
  background-color: var(--header-backgroundColor);
  width: 6rem;
  height: 3rem;
  display: flex;
  align-items: center;
  color: var(--header-Color);
  font-weight: 500;
  font-size: 22px;
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 0 100%, 0 50%, 0 0);
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 1rem;
}
.new-product-img img {
  width: 100%;
}
.sign-in-head {
  display: flex;
  justify-content: space-between;
}
.close-sign-in {
  cursor: pointer;
}
.live-sign-in {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}
.live-sign-in-active {
  visibility: visible;
  opacity: 1;
}
.sign-in-form {
  background-color: white;
}
.live-log-in {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}
.log-in-form {
  background-color: white;
}
.live-log-in-active {
  visibility: visible;
  opacity: 1;
}
.close-log-in {
  cursor: pointer;
}
.footer {
  height: 15rem;
  background-color: var(--header-backgroundColor);
  color: var(--header-Color);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}
.footer-section {
  display: flex;
  flex-direction: column;
  line-height: 2rem;
  cursor: pointer;
}
.footer-section:hover {
  color: rgb(175, 175, 175);
}
.footer-section input {
  border: none;
  height: 2rem;
  padding: 1rem;
}
@media screen and (max-width: 780px) {
  .nav-logo h2 {
    font-size: 1rem;
  }
  .search-container {
    padding: 2px;
    gap: 0rem;
    width: 25%;
  }
  .notification-badge {
    right: -2rem;
  }
  .nav-icons div {
    margin-right: 1rem;
  }

  .bg-img-container {
    background-size: 100%;
    height: 25rem;
    animation: slidein 10s infinite linear;
  }
  .home-page-text {
    bottom: 5%;
    left: 20%;
  }
  .category-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 70%;
    margin: 5rem 5rem;
  }
  .footer {
    flex-direction: column;
    height: 35rem;
  }
  .featured-brands {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
  }
  .search-container {
    display: none;
  }
}
